/Jeu/Client/.godot/
/Jeu/Client/.idea/
/Jeu/Serveur/.idea/
/Jeu/Serveur/Serveur/obj/
/Jeu/Serveur/MainServeur/obj/
/Jeu/Serveur/Lib/obj/
/Jeu/Serveur/Serveur/bin/
/Jeu/Serveur/MainServeur/bin/
/Jeu/Serveur/Lib/bin/
Jeu/Serveur/Serveur/obj/
*.DS_Store
*.csproj
*.DotSetting.user
Jeu/Client/Script/Save
Jeu/Serveur/Godot/.gitignore
Jeu/Serveur/Godot/.gitattribute
Jeu/Serveur/Godot/.idea
Jeu/Serveur/Godot/DayInfo.txt
Jeu/Serveur/Godot/Bourse.json
Jeu/Serveur/Godot/Meteo.json
Jeu/Serveur/MainServeur/port.txt