/Jeu/Client/.godot/
/Jeu/Client/.idea/
/Jeu/Serveur/.idea/
/Jeu/Serveur/Serveur/obj/
/Jeu/Serveur/MainServeur/obj/
/Jeu/Serveur/Lib/obj/
/Jeu/Serveur/Serveur/bin/
/Jeu/Serveur/MainServeur/bin/
/Jeu/Serveur/Lib/bin/
*.DS_Store
*.csproj
*.DotSetting.user
